<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>P2P</title>
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel='stylesheet' type='text/css' media='screen' href='/css/room.css'>
</head>

<body>

    <div id="videos">
        <video class="video-player" id="user-1" playsinline="true" muted autoplay=""></video>
        <video class="video-player" id="user-2" playsinline="true" autoplay=""></video>
    </div>

    <div id="controls">

        <div class="control-container" id="camera-btn">
            <img src="/icons/camera.png" />
        </div>

        <div class="control-container" id="mic-btn">
            <img src="/icons/mic.png" />
        </div>

        <a href="/">
            <div class="control-container" id="leave-btn">
                <img src="/icons/phone.png" />
            </div>
        </a>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/room/bind.js" type="module"></script> 
    <script src="/js/room/buttons.js" type="module"></script> 
    <script src="/js/room/connection.js" type="module"></script> 
    <script src="/js/room/localStream.js" type="module"></script> 
    <script src="/js/room/signalingServer.js" type="module"></script> 
</body>

</html>